  
 .b1 { 
   background-color: mediumseagreen;

 } 
 .b2 { 
    background-color: navy;
 } 
 .b3 { 
     background-color: black;
    }
  .b4 { 
      background-color: red;
        
  }
  .b5 { 
       background-color: yellow;
  } 

  .explore{
   
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove 10s infinite;
   } 
  @keyframes mymove {
    from {left: 0px;}
    to {left: 1100px;}
  }
  outside {
    background-color: lightgoldenrodyellow;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .icon{
    position: relative;
    top: -16px;
    right: -1406px;
  }
